body {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: min-content;
}

.container {
    margin-bottom: 20px;
    text-align: center;
}

.container:hover > .count {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: all .6s;
}

.count {
    visibility: hidden;
    transform: translateY(20px);
    opacity: 0;
}

.container img {
    width: 180px;
}